- unless nav.nil? || nav[:key].to_s =~ /^divider/
  %li.acl_tree_item
    - rules = [] if rules.nil?
    - readonly = true if readonly.nil?
    - nav_id = "#{nav[:context]}_#{nav[:key]}"
    - checked = rules.include?([nav[:context].to_s, nav[:key].to_s])
    - if readonly
      %span= "&#10004;".html_safe if checked
    - else
      %input.acl_tree_checkbox{type: 'checkbox', name: "acl_item[#{nav[:context]}][]", id: nav_id, value: nav[:key], checked: checked}
    %label{for: nav_id}= nav[:name]
    = show_navigation_tree(nav[:items], rules, readonly: readonly) if nav.key?(:items)