<h1>Edit ACL of #<%= @id %></h1>

<%= form_tag simple_navigation_acl_save_path do %>
    <% SimpleNavigationAcl::Base.contexts.each do |context| %>
      <%= render 'simple_navigation_acl/list', context: context %>
    <% end %>
    <hr />
    <%= submit_tag 'Save' %>
    or
    <%= link_to 'Back', :back %>
    |
    <%= link_to 'Show', simple_navigation_acl_show_path(id: @id) %>
<% end %>